.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.Form {
  place-items: center;
  width: 399px;
  height: 400px;
  flex-shrink: 0;
}

.LabelInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: right;
  margin: 0.5em;
}

.LabelSelect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: right;
  margin: 0.5em;
}

.Label {
  justify-items: end;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0.5em;
}

.Input {
  width: 230px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background: #fff;
}

.InputError {
  width: 230px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #f00;
  background: #fff;
}

.Select {
  width: 230px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background: #fff;
}

.ErrorMessage {
  text-align: left;
  color: #fb0000;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Button {
  place-content: center;
  width: 100px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(93, 214, 105, 0.5);
  border: none;
  margin: 1em;
}
